.slide.intro {
	text-align: center;
	background: white;
}
.slide.intro h3 {
	color: #52A2DF;
	font: 100px/1 'Open Sans Light',sans-serif;
	margin-bottom: 48px;
}
.icon {
	width: 24px;
	height: 24px;
	vertical-align: middle;
}

.full .slide.shout.shrink h2 {
	opacity: 0;
	transform: scale(2) translateY(-50%);
	transition: all 0.4s ease-out;
}

.full .slide.shout.shrink:target h2 {
	opacity: 1;
	transform: scale(1) translateX(0) translateY(-50%);
}



.config {
	transition: 0.5s transform;
}
.config-part-1.active ~ .config {
	transform: scale(5) translateX(4%) translateY(40%) !important;
}
.config-part-2.active ~ .config {
	transform: scale(6) translateX(15%) translateY(30%) !important;
}
.config-part-3.active ~ .config {
	transform: scale(4.5) translateX(-2%) translateY(20%) !important;
}
.config-part-4.active ~ .config {
	transform: scale(4) translateX(-12%) translateY(7%) !important;
}
.config-part-5.active ~ .config {
	transform: scale(5) translateX(4%) translateY(-10%) !important;
}
.config-part-6.active ~ .config {
	transform: scale(5) translateX(4%) translateY(-27%) !important;
}
.config-part-7.active ~ .config {
	transform: scale(5) translateX(4%) translateY(-40%) !important;
}
.config-full.active ~ .config {
	transform: scale(1) translateX(-50%) translateY(0) !important;
}


.common-chunk {
	transition: 0.5s transform;
	transform: scale(0.8) translateY(-50%) !important;
}
.common-chunk-1.active ~ .common-chunk {
	transform: scale(1.6) translateX(25%) translateY(-60%) !important;
}
.common-chunk-full.active ~ .common-chunk {
	transform: scale(0.8) translateY(-50%) !important;
}


.loader {
	transition: 0.5s transform;
}
.loader-1.active ~ .loader {
	transform: scale(2.5) translateY(-20%) !important;
}
.loader-2.active ~ .loader {
	transform: scale(2.5) translateX(-30%) translateY(-20%) !important;
}
.loader-full.active ~ .loader {
	transform: scale(1) translateY(-50%) !important;
}
.move-to-https {
	opacity: 0;
	transition: opacity 0.5s;
}
.loader-full.active ~ .move-to-https {
	opacity: 1;
}